main {
  grid-area: main;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  background-color: rgb(218, 212, 224);
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
