.entry-history-card {
  width: 90%;
  min-height: 6.8rem;
  height: 6.8rem;
  text-align: start;
  background-color: transparent;
  outline: solid rgba(162, 109, 211, .2) 1px;
  box-shadow: 2px 2px 4px rgba(162, 109, 211, .4);
  border-radius: 12px;
  border: none;
  padding: .6rem;
  overflow: hidden;
  transition: ease .1s;
}

.entry-history-card:disabled {
  color: rgba(0, 0, 0, .7)
}

.entry-history-card:hover {
  cursor: pointer;
  background-color: rgba(162, 109, 211, .1);
  transform: scale(1.02);
  box-shadow: 2px 2px 4px rgba(162, 109, 211, .2);
}

.entry-history-card:disabled:hover {
  cursor: default;
  background-color: transparent;
  transform: none;
  box-shadow: 2px 2px 4px rgba(162, 109, 211, .4);
}

.entry-history-card p {
  margin-bottom: 5px;
}

.entry-history-empty {
  width: 90%;
  margin-top: .4rem;
  padding: .6rem;
  text-align: center;
}

.entry-history-empty p {
  font-size: .8rem;
  opacity: .9;
}

.entry-history-date {
  font-size: 0.65rem;
  font-weight: 600;
}

.entry-history {
  font-size: 0.8rem;
  font-weight: 500;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

@media screen and (max-width: 768px) {
  .entry-history-card {
    width: 90%;
    min-height: 5.8rem;
    height: 5.8rem;
    padding: .5rem;
  }

  .ellipsis {
    -webkit-line-clamp: 3;
  }
}

@media screen and (max-width: 580px) {
  .entry-history-card {
    width: 8rem;
    min-width: 8rem;
    height: 5.6rem;
    min-height: 5.6rem;
    padding: .4rem;
  }

  .ellipsis {
    -webkit-line-clamp: 3;
  }
}