.entry-history-card {
  width: 90%;
  min-height: 6.8rem;
  height: 6.8rem;
  background-color: rgba(162, 109, 211, .9);
  border-radius: 12px;
  padding: .5rem;
  overflow: hidden;
}

.entry-history-card:hover {
  cursor: pointer;
  background-color: rgba(162, 109, 211, 1);
}

.entry-history-card p {
  margin-bottom: 4px;
}

.entry-history-date {
  font-size: 0.75rem;
  font-weight: 600;
}

.entry-history {
  font-size: 0.8rem;
  font-weight: 500;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}