.patient-entry-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 90%;
  background-color: rgba(162, 109, 211, 0.2);
  padding: 16px;
  max-height: 255px;
  border-radius: 20px;
}

.patient-entry-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.patient-entry-date {
  font-size: 15px;
  font-weight: 600;
}

.patient-entry {
  margin-top: 12px;
  margin-bottom: 6px;
  overflow: auto;
  scrollbar-width: 6px;
}

.patient-entry::-webkit-scrollbar {
  width: 6px;
}

.patient-entry::-webkit-scrollbar-thumb {
  background-color: rgba(162, 109, 211, .3);
  border-radius: 6px;
}

.patient-entry-btn-container {
  display: flex;
  flex-direction: row;
  gap: 14px
}

.patient-entry-btn {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  opacity: 30%;
  border-radius: 40%;
}

.patient-entry-btn:hover {
  opacity: 70%;
}

.patient-entry-btn img {
  width: 1rem;
}