.new-patient-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 2rem 2rem;
}

.mb-3 {
  margin: 1rem 2rem;
}

.new-patient-form label {
  padding-left: 0.2rem;
  margin-bottom: 0.2rem;
}

.form-text-input {
  width: 14rem;
}

.form-select {
  width: 8rem;
}

.new-patient-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  padding: 1rem 0 3rem;
}

.new-patient-btn-container button {
  border: none;
  height: 2.6rem;
  width: 10.4rem;
}

@media screen and (max-width: 768px) {
  .new-patient-form-container {
    padding: 1rem 1rem 0;
  }

  .new-patient-btn-container {
    padding: 1.6rem 0;
  }
}