.add-patient-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-patient-container button {
  margin: 1rem;
  margin-top: 1.2rem;
  height: 2.9rem;
  width: 16.2rem;
  padding: 0.4rem;
  border: none;
  background-color: rgba(75, 21, 126, 0.81);
  font-size: 1.06rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
}

.add-patient-container button:hover {
  background-color: rgba(75, 21, 126, 0.921);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .add-patient-container {
    width: 40%;
    flex: 1;
  }
}
