.register-form-container {
  display: grid;
  grid-template-columns: 12rem 20rem;
  gap: .6rem;
  padding: 0 3rem;
}

.register-form-container label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
}

.register-btn-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (max-width: 620px) {
  .register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .2rem;
    padding: 0 0 1rem;
    width: 400px;
  }

  .register-form-container input {
    width: 60%;
    margin-bottom: .6rem;
  }

  .register-btn-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .register-form-container {
    width: 90vw
  }

  .register-form-container input {
    width: 56%;
    margin-bottom: .6rem;
  }

}