.date-picker-container {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 18rem;
}

.date-picker {
  width: 10rem;
}

.current-age {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.current-age p {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .date-picker-container {
    flex-direction: column;
    width: 14rem;
  }

  .current-age p {
    height: 1.4rem;
    margin: .4rem 0 0 0;
  }

  .date-picker {
    font-size: 0.9rem;
  }
}
