.card-button-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-button-container button {
  border: none;
  height: 2.6rem;
  width: 10.4rem;
}