.card-button-container {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.card-button-container button {
  border: none;
  height: 2.6rem;
  width: 10.4rem;
}

@media screen and (max-width: 580px) {
  .card-button-container {
    gap: 5vw;
  }

  .card-button-container button {
    border: none;
    height: 2.4rem;
    width: 9.6rem;
    font-size: .9rem;
  }
}