aside {
  width: 100%;
  background-color: rgb(204, 197, 214);
}

@media screen and (max-width: 768px) {
  aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .8rem 4vw .6rem;
  }
}

@media screen and (max-width: 667px) {
  aside {
    flex-direction: column;
    padding: 1.2rem 8vw .6rem;
  }
}
